.cart{
    margin-top: 40px;
}
.cart-item {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 60px;
    padding: 20px 0px;
    color: #454545;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}
.cart-items {
    margin-bottom: 150px;
}
.cart hr{
    width: 100%;
}

.cart-product {
    font-weight: 400;
}

.size-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.cart-remove-btn {
    background-color: white;
    border: none;
    scale: 1.2;
    color: #454545;
}

.cart-remove-btn:hover {
    scale: 1.3;
    cursor: pointer;
}



.cart-total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: #f5f5f5;
    padding: 30px;
    margin-bottom: 250px;
    width: 30%;
}

.cart-total div {
    width: 100%;
}

.cart-total-title h1 {
    font-size: 22px;
    margin-top: 20px;
}

.cart-total-title hr {
    margin-top: 10px;
    margin-bottom: 20px;
}

.cart-descont p1 {
    font-weight: 600;
}

.cart-descont-cupom {
    margin: 20px 0 20px;
    display: flex;
    justify-content: center;
}

.cart-descont-cupom input {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 5px;
    background-color: #f5f5f5;
    outline: none;
}

.cart-descont-cupom button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 16px;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.cart-value-items {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-top: 20px;
}

.total {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 25px 0 25px;
    margin-top: 25px;
}

.cart-btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.btn-cart {
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.finish {
    background-color: #d71920;
    color: white;
    transition: background-color 0.5s ease;

}

.finish:hover {
    background-color: #E05B5F;
}

.continue {
    border: 1px solid black;
    width: 100%;
    transition: background-color 0.5s ease;
}

.continue:hover {
    background-color: black;
    color: white;
}

@media(max-width:1080px){
    .cart-total{
        width: 40%;
    }
}
@media(max-width:850px){
    .infobar{
        display: none;
     }
     .cart-item{
        overflow-x: auto;
     }
    .cart-total{
        width: 50%;
    }
}
@media(max-width:700px){
    .cart-total{
        width: 60%;
    }
}

@media(max-width:525px){

    .cart-items{
        margin-bottom: 60px;
    }
    .cart-descont-cupom input{
        font-size: 12px;
        padding: 0;
    }
    .cart-descont-cupom button{
        width: 40px;
        font-size: 14px;
    }
    .cart-total{
        width: 65%;
        margin-bottom: 150px;
    }
    .total{
        font-size: 16px;
        margin-top: 0;
    }
    .cart-value-items{
        margin-bottom: 0;
    }
    .btn-cart{
        padding: 10px;
        font-size: 14px;
    }
    .cart-btn{
        margin-top: 0;
        gap:0;
    }
}