.scrolltop{
    position: fixed;
    bottom: 50px;
    right: 50px;
}
.scrolltop-icon{
    font-size: 75px;
    cursor: pointer;
}

@media(max-width:750px){
    .scrolltop{
        display: none;
    }
    
 }