.signup-page{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    background-color: #fae5fe;
    
}

.signup-account{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 35%;
    height: fit-content;
    padding: 50px;
    margin-top: 100px;
}

.signup-account input,button{
    padding: 20px;
    margin-top:25px;
}

@media(max-width:950px){
    .signup-account{
        width: 45%
    }
}
@media(max-width:750px){
    .signup-account{
        width: 55%
    }
}
@media(max-width:500px){
    .signup-account{
        width: 65%
    }
}
@media(max-width:400px){
    .signup-account{
        width: 75%;
        margin-top: 70px;
    }
}